name: Deploy to VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy Crypto Sockets
    runs-on: ubuntu-latest
    steps:
      - name: Calling crypto-sockets/deploy.sh script
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          passphrase: ${{ secrets.VPS_PASSPHRASE }}
          port: 22
          debug: true
          script: |
            cd /srv/crypto-sockets
            ./deploy.sh
